// Mixins in here

.buttonstyle(@buttoncolor){
    border-radius: 14px;
    background-color: @buttoncolor;
    color: white;
    width: 198px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    padding: 15px 32px;
}

.btn{
    .buttonstyle(@eastern-blue);
}


